<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>InFUN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/input_view.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="create-room-heading">
        <h1>Stwórz pokój</h1>
        <hr/>
        <h2>Wprowadź dane niezbędne do stworzenia nowego pokoju:</h2>
    </div>

    <form class="" action="#" th:action="@{/manage}" th:object="${createRoomInput}" method="post">
        <div class="well">
            <div class="form-group row">
                <label for="inputGroupId" class="col-sm-2 col-form-label">ID pokoju</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{roomId}" class="form-control" id="inputGroupId"
                           placeholder="ID pokoju (jeśli puste, zostanie wylosowane)"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="taskNumber" class="col-sm-2 col-form-label">Ilość zadań</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{taskNumber}" th:value=10 th:min=1 th:max=100 class="form-control"
                           id="taskNumber"
                           placeholder="Ilość zadań"/>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="form-check">
                <div class="games-container">
                    <div>
                        <label>Wybierz gry</label>
                    </div>
                    <div class="form-check-select-all">
                        <input type="checkbox" class="form-check-input-all" id="select-all">
                        <label class="form-check-label" for="select-all">Zaznacz wszystkie</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 task-container"
                         th:each="task, stat : *{tasksConfig}">
                        <div class="checkboxes">

                            <!-- add ' ' to avoid checking box by thymeleaf, later trim in code -->
                            <input class="form-check-input" type="checkbox"
                                   th:id="'item-' + ${task.name}"
                                   th:field="*{tasksConfig[__${stat.index}__].name}"
                                   th:value="${task.name} + ' '"/>
                            <div class="title-edit">
                                <label class="title" th:text="${task.name}"
                                       th:for="'item-' + ${task.name}">
                                </label>
                                <div class="task-config-button" data-toggle="collapse"
                                     th:data-target="'#task-' + ${task.name} + '-config'" th:if="${task.config !=null}">
                                    <i class="fas fa-pen"></i>
                                </div>
                            </div>
                            <label class="checkbox-like task-box" th:for="'item-' + ${task.name}">
                                <div th:id="'task-' + ${task.name} + '-config'"
                                     class="task-config-container collapse"
                                     th:object="${task}">
                                    <label>Konfiguracja</label>
                                    <div class="task-config-list-container">
                                        <div class="task-config" th:each="paramConfig, stat_param : *{config}">
                                            <label class="task-config-label" th:text="${paramConfig.name}"></label>
                                            <input test1="test1" type="hidden"
                                                   th:field="${createRoomInput.tasksConfig[__${stat.index}__].config[__${stat_param.index}__].name}"
                                                   th:value="${paramConfig.name}"/>
                                            <!--  hidden as only way to to pass field -->
                                            <input test2="test2" type="text" class="form-control" id="value"
                                                   th:field="${createRoomInput.tasksConfig[__${stat.index}__].config[__${stat_param.index}__].value}"/>
                                        </div>
                                    </div>
                                </div>
                                <img class="task-thumbnail"
                                     th:src="'/img/' + ${task.name} + '/img/thumbnail.png'"
                                     th:alt="${task.name}"
                                     onerror="this.src='/img/transparent-pixel.png'">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <input class="btn btn-secondary" type="reset" value="Resetuj"/>
            <input class="btn btn-primary" type="submit" value="Stwórz"/>
        </div>
    </form>
</div>
<script th:src="@{/js/create_room.js}"></script>
</body>
</html>
