<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>InFUN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/input_view.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
         body {
            font-family: Tahoma;
         }


    </style>
</head>
<body>
<div class="container data thumbnail">
    <div style="text-align: center;">
        <h1>Stwórz pokój</h1>
        <hr/>
        <h2>Wprowadź dane niezbędne do stworzenia nowego pokoju:</h2>
    </div>

    <form class="" action="#" th:action="@{/manage}" th:object="${createRoomInput}" method="post">

        <div class="form-group row">
            <label for="inputGroupId" class="col-sm-2 col-form-label">ID pokoju</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{roomId}" class="form-control" id="inputGroupId"
                       placeholder="ID pokoju (jeśli puste, zostanie wylosowane)"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="taskNumber" class="col-sm-2 col-form-label">Ilość zadań</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{taskNumber}" th:value=10 th:min=1 th:max=100 class="form-control"
                       id="taskNumber"
                       placeholder="Ilość zadań"/>
            </div>
        </div>

        <center>
            <div class="form-check">
                    <label>Wybierz gry</label>
<!--                <label class="form-check-label">-->
                    <ul class="list-group">
                        <li class="list-group-item" th:each="task, stat : *{tasksConfig}">
                            <input class="form-check-input" type="checkbox"
                                   th:id="'item-' + ${task.name}"
                                   th:field="*{tasksConfig[__${stat.index}__].name}"
                                   th:value="${task.name} + ' '"/> <!-- add ' ' to avoid checking box by thymeleaf, later trim in code -->

                            <label th:for="'item-' + ${task.name}" th:text="| &nbsp; ${task.name}"></label>

                            <ul class="list-group" th:object="${task}">
                                <li class="list-group-item" th:each="paramConfig, stat_param : *{config}">
                                    <div>
                                        <label class="col-sm-2 col-form-label" th:text="${paramConfig.name}" ></label>
                                        <input type="hidden"
                                               th:field="${createRoomInput.tasksConfig[__${stat.index}__].config[__${stat_param.index}__].name}"
                                               th:value="${paramConfig.name}"/> <!--  hidden as only way to to pass field -->
                                        <input type="text" class="form-control" id="value"
                                               th:field="${createRoomInput.tasksConfig[__${stat.index}__].config[__${stat_param.index}__].value}"/>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
<!--                </label>-->
            </div>
        </center>

        <div class="buttons">
            <input class="btn btn-secondary" type="reset" value="Resetuj"/>
            <input class="btn btn-primary" type="submit" value="Stwórz"/>
        </div>
    </form>
</div>
</body>
</html>
