<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InFun - error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/input_view.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>


    <div class="container data thumbnail">

        <div class="alert alert-danger" style="text-align: center;">
            <strong>Błąd</strong>
        </div>

        <div style="white-space: pre-line">
            <label for="comment">Wiadomość błędu:</label>
            <textarea rows="5" disabled="true" class="form-control" id="comment" th:text="${error}">
            </textarea>
        </div>

        <form action="/" th:align="center">
            <input class="btn btn-primary" type="submit" value="Dołącz do innej gry"/>
        </form>

    </div>


</body>
</html>