<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>InFUN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/input_view.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/chart_styles.css}">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/canvasjs.min.js}"></script>
        <script th:src="@{/js/chart.js}"></script>

        <script>
            window.setInterval(function(){
                var chart = createChart();
                var data = getData();
                chart.options.data[0].dataPoints = data.top.reverse();
                chart.render();
                showRest(data.rest)
            }, 5000);
            window.onload = function() {
                createChart().render();
                var data = getData();
                showRest(data.rest);
            };
    
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/room/join">InFun</a>
                </div>
        
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:text="${room_id}"></a></li>
                        <li><a href="/room/create">Stwórz nowy pokój</a></li>
                        <li><a id="link" href="/remove">Usuń obecny pokój</a></li>
                    </ul>
                </div>
        
            </div>
        </nav>
        
        <div class="chart" id="chartContainer" style="width: 90%; height: 500px; padding-left: 5%;"></div>
        <div class="container">
            <ul id="rest-list" class="list-unstyled row">
<!--                filled via js-->
            </ul>

        </div>
        
        <p th:text="${room_id}" id="roomID" style="visibility:hidden"/>
        
        <script>
            document.getElementById("link").href = document.getElementById("roomID").innerHTML + "/remove";
        </script>
    </body>
</html>
