div.item {
    width: 70px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    margin: 16px 0 16px 0px;
    padding: 8px 8px 0px 0px;
    background: #fff;
    border-top: 6px solid;
    color: #000000;
}
div.one {
    height: 30px;
    width: 70px;
    float: left;
    vertical-align: middle;
    font: 18px Arial, sans-serif;
}
div.two {
    float: left;
    width: 70px;
    vertical-align: middle;
    font: 16px Arial bold, sans-serif;
}
