body {
    font-family: Tahoma;
}
.data {
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    width: 60%;
    /*height: 70%;*/
}

.chart {
    margin-top: 7vh;
}

.buttons {
    text-align: center;
}

form {
    margin: 10%;
}

.checkboxes input[type=checkbox] {
    display: none;
}

.checkbox-like {
    background-color: #bfbfbf;
}

/* ignore input added by thymeleaf using * */
.checkboxes input[type=checkbox]:checked ~ .checkbox-like
{
    background-color: #5bc0de;
}

.task-container {
    margin-bottom: 24px;
}

.task-thumbnail {
    /*display:block;*/
    padding: 8px;
    background-color: rgba(0,0,0,0);
    background-image: url(/img/transparent-pixel.png);
    height: auto;
    width: 100%;
}

.task-box {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 7px;
}

.task-config-container {
    position: absolute;
    z-index: 1;
}

.task-config {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: -1px;
}
.task-config:last-child {
    margin-bottom: 0;
}

.task-config-button {
    border: 1px solid transparent;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
}

.task-config-button-placeholder {
    background-color: transparent;
    width: 100%;
    height: 40px;
}

.task-config-label {
    padding-left: 20px;
}