body {
    font-family: Tahoma;
}

.data {
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    width: 60%;
    /*height: 70%;*/
}

.chart {
    margin-top: 7vh;
}

.buttons {
    text-align: center;
}

.centered {
    text-align: center;
}

form {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.create-room-heading {
    text-align: center;
}

.form-check {
    text-align: left;
    display: inline-block;
}

.form-check-select-all {
    text-align: right;
}

.checkboxes input[type=checkbox] {
    display: none;
}

.checkbox-like {
    background-color: #e0e0e0;
}

.title-edit {
    height: 40px;
    z-index: 1;
    background-color: #e0e0e0;
}

/* ignore input added by thymeleaf using * */
.checkboxes input[type=checkbox]:checked ~ .checkbox-like {
    background-color: #5bc0de;
}

.checkboxes input[type=checkbox]:checked ~ .title-edit {
    background-color: #5bc0de;
}

.task-container {
    padding-top: 8px;
    margin-bottom: 24px;
}

.task-thumbnail {
    /*display:block;*/
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/img/transparent-pixel.png);
    height: auto;
    width: 100%;
}

.task-box {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 7px;
}

.task-config-container {
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 8px;
    width: 73%;
    background-color: white;
}

.task-config-list-container {
    overflow-y: scroll;
    max-height: 135px;
    height: 135px;
}

.task-config {
    padding: 8px 12px;
    border-top: 1px solid #ddd;
    background-color: white;
    margin-bottom: -1px;
    width: 90%;
}

.task-config:last-child {
    margin-bottom: 0;
}

.task-config-button {
    float: right;
    border: 1px solid transparent;
    padding: 8px 12px;
    width: 20%;
    height: 30px;
}

.task-config-button-placeholder {
    background-color: transparent;
    width: 100%;
    height: 30px;
}

.task-config-label {
    float: left;
    /*padding-left: 8px;*/
}

.title {
    padding: 8px 0 0 24px;
    font-size: 16px;
    width: 80%;
    height: 100%
}

.games-container {
    display: flex;
}

.games-container > div {
    flex: 1;
}

.fa-pen {
    color: #0040ff;
}